.container{
    background-image: url("/src/assets/asset2.jpeg");
    background-size: cover;
    height: 89vh;
    color: white;
    padding-top: 238px;
    padding-left: 158px;
}
.innerContainer{
    width: 512px;
    height: 263px;
}
.h1-1{
    color: black;
    font-size: 3rem; 
    font-weight: bold;   
}
.h1-2{
    color: red;
    margin-left: 30px;
    font-size: 3rem;
}
p{
    margin: 5px;
    font-size: 1.2rem;
    color: black;
}
.mainBtn1{
    background-color: red;
    padding: 10px;
    margin-right: 20px;
    border-radius: 2px;
    width: 168px;
}
.mainBtn2{
    background-color:white;
    color: red;
    padding: 10px;
    border-radius: 2px;
    width: 168px;
}